// VARIABLES

@black: #000000;
@white: #FFFFFF;

@purple: #9D77FC;
@blue: #1018FF;
@red: #FF3502;

@dark: #222222;
@light: fade(@white, 10);

@primary: @red;

@import url('https://fonts.googleapis.com/css?family=Space+Mono|IBM+Plex+Sans');

@mono: 'Space Mono', monospace;
@font: 'IBM Plex Sans', sans-serif;


@desktop: ~ "only screen and (min-width: 587px)";
@mobile: ~ "only screen and (max-width: 586px)";


@seconds: 1s;
@ease: @seconds ~ ' cubic-bezier(0,1,0,1)';


// ---
// ---
* {
    box-sizing: border-box;
}


html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

body {

    color: @white;
    background: @dark;
    font-family: @font;
}


#preload {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000000;


    .logo,
    .background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .background {
        background: @primary;
        transition: transform @ease;
    }

    .logo {
        text-align: center;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: @mono;
        letter-spacing: 5px;
        color: @white;
        mix-blend-mode: add;
        transition: opacity @ease;
        transition-delay: 0.05s;

        &_text {
            font-size: 36px;
        }

        &_subtitle {
            text-transform: uppercase;
            opacity: 0.7;
        }
    }


    &.is-ready {
        pointer-events: none;

        .logo {
            opacity: 0;
            color: @primary;
        }

        .background {
            transform: translateY(100vh);
        }
    }


}

// ---
// ---

// HOMEPAGE

// ---
// ---


#map {
    height: 100%;
    max-width: 80vw;
    z-index: 0;

    .passenger {
        width: 5px;
        height: 5px;
        background: @primary;
        border-radius: 50%;
        opacity: 1;
        transition: opacity @ease;

        &.is-visible {
            opacity: 1;
        }
    }


    .marker {
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-bottom-color: @dark;
        position: relative;
        top: -12px;
        cursor: pointer;
        transition: border @ease;
        z-index: 10;

        &:before {
            content: '';
            position: absolute;
            left: -12px;
            top: 12px;
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-top-color: @dark;
            transition: border @ease;
        }

        &:after {
            position: absolute;
            content: '';
            top: 8px;
            left: -4px;
            width: 8px;
            height: 8px;
            background: @white;
            border-radius: 50%;
            transition: background @ease;

        }

        &.highlight,
        &.is-active,
        &:hover {
            border-bottom-color: @white;

            &:before {
                border-top-color: @white;
            }

            &:after {
                background: @dark;
            }

        }



    }

    .mapboxgl-popup {
        max-width: 200px;
        padding: 15px;
        background: @dark;
        z-index: 1;

        button {
            display: none;
        }

        &-tip {
            display: none;
        }

        &-content {
            text-align: center;
            text-transform: uppercase;
            background: transparent;
            font-size: 12px;
            letter-spacing: 1px;

            font-family: @font;
            padding: 0;

            p {
                margin: 0;
                padding: 0;
            }
        }

    }

}


#subsidebar {
    right: calc(20vw);
    transform: translateX(20vw);
    width: 300px;
    max-width: 20vw;
    background: @dark;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 100px 10px @dark;
    padding: 25px;
    letter-spacing: 1px;
    line-height: 24px;
    transition: transform @ease;
    overflow: scroll;

    &.is-active {
        transform: translateX(0vw);
    }

    h1 {
        color: @primary;
        border-bottom: 1px solid @primary;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: normal;
        margin: 0;
    }

    li {
        list-style: none;
        font-family: @mono;
        color: @white;
        border-bottom: 1px solid @light;
        padding: 10px 0;
    }
}


#sidebar {
    box-shadow: 0px 0px 100px 10px fade(@black, 30);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background: @dark;
    overflow: hidden;
    width: 20vw;
    z-index: 1000;

    .places {
        height: 100vh;
        width: calc(20vw - 50px);
        position: relative;

        .place {
            padding: 25px;
            letter-spacing: 1px;
            line-height: 24px;
            position: relative;
            transition: opacity @ease,
                transform @ease;
            cursor: pointer;

            &:before {
                position: absolute;
                top: 30px;
                left: 8px;
                width: 20px;
                height: 20px;
                background: @primary;
                content: ' ';
                border-radius: 50%;
                border: 6px solid @dark;
                transform: scale(0);
                transition: transform @ease;

            }

            &.is-active {
                .place_thumb {
                    background: @primary  !important;
                }

                .place_address {
                    color: @primary  !important;
                }
            }

            &:after {
                background: radial-gradient(to top right, fade(@light, 20), transparent);
                transition: opacity @ease, transform @ease;
                content: ' ';
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                width: 100%;
                opacity: 0;
                z-index: 1;
            }

            &.highlight,
            &:hover {

                .place_address {
                    color: @white;
                }

                .place_thumb {
                    background-color: @white;
                }

                &:after {
                    transform: translate(0);
                    transition: opacity @ease, transform @ease;
                }
            }

            &_thumb {
                width: 100%;
                height: 200px;
                background: @dark;
                transition: background @ease;
            }

            &_address {
                padding: 10px 0 0 0;
                color: @light;
                transition: color @ease;

            }

            &_time {
                color: fade(@white, 10);
                border-bottom: 1px solid fade(@light, 10);
                padding-bottom: 30px;

            }

        }

    }
}

nav {
    bottom: 0;
    top: 0;
    width: 100vh;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 25px;
    font-family: @mono;
    transform: rotate(90deg) translateY(calc(-20vw + 50PX));
    transform-origin: bottom left;
    position: absolute;
    margin: -50px 0 0 0;
    background: @dark;
    height: 50px;
    display: flex;

    li {
        margin-right: 25px;
        list-style: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        color: @light;

        &.title {
            color: @white;
        }

    }
}
